.game-leaderboard {
  position: absolute;
  padding: 10px;
  color: #fff;
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 16px;
  background: linear-gradient(to bottom, #ffffff40, #6c6c6c10);
  backdrop-filter: blur(20px);
  box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.1);
  top: 10px;
  left: 10px;
  text-align: center;
  border-radius: 5px;
  z-index: 9999;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.game-leaderboard .title {
  font-size: 18px;
  margin-bottom: 8px;
}

.game-leaderboard ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.game-leaderboard li {
  margin-bottom: 4px;
}

.game-leaderboard li.me {
  color: #67b11a;
}
