.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

.form-box {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 21vw;
  gap: 10px;
  padding: 20px;
  border: 1px solid #272B30;
  border-radius: 10px;
  color:white;
  background:black;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  font-family: 'terminus';
}

.form-title {
  margin-bottom: 0.2vw;
}

label {
  display: flex;
  flex-direction: column;
  width: 90%;
}
#forminput{
  border: 1px solid #272B30;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  background: black;
  color: white;
  padding-left: 5px;
  font-family: 'terminus';
}

/* Chrome, Safari, Edge, Opera */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-arrows[type=number] {
  -moz-appearance: textfield;
}
input[type="number"],
input[type="text"],
input[type="checkbox"] {
  margin-left: 10px;
  flex-grow: 1;
}
