.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .leaderboard {
    background-color: black;
    color: #fff;
    padding: 50px;
    padding-inline: 100px;
    min-height: 100vh;
  }
  
  .season-selector {
    margin-bottom: 24px;
  }
  
  .season-selector label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    opacity: 0.8;
  }
  
  .season-selector select {
    width: 200px;
    padding: 8px;
    background-color: transparent;
    color: "rgb(103, 244, 182)";
    border: 3px solid #fff;
  }
  
  .my-ranking {
    border: 1px solid #fff;
    padding: 24px;
    margin-bottom: 24px;
  }
  
  .my-ranking h2 {
    font-size: 20px;
    margin-bottom: 24px;
  }
  
  .ranking-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  
  .ranking-item {
    margin-bottom: 16px;
    
  }
  
  .ranking-item .label {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 4px;
  }
  
  .ranking-item .value {
    font-size: 24px;
  }
  
  .ranking-item .value .total {
    font-size: 16px;
    opacity: 0.8;
  }
  
  .leaderboard-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .leaderboard-table th,
  .leaderboard-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid "rgb(103, 244, 182)";
  }
  
  .leaderboard-table th {
    opacity: 0.8;
  }
  
  .leaderboard-table tr:hover {
    background-color: #002200;
  }
  
  .player-info {
    display: flex;
    align-items: center;
  }
  
  .avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .leaderboard-table td:nth-child(3),
  .leaderboard-table td:nth-child(4),
  .leaderboard-table td:nth-child(5) {
    text-align: right;
  }
  
  