
.grid-container-TPX {
    display: flex;
    flex-wrap: wrap; /* Reverse the order of items (right to left) */
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    overflow-y: scroll;
  }
.grid-item-TPX { 
    margin-bottom: 1.5vw;
    margin-left: 1.5vw;
}
.switchsizes{
    height: 20vw;
    width: 20vw;
  }
  .grid-item-claim {
    background: black;
    border-radius: 0.5vw;    
    /*box-shadow: 0 0 3px 1px #F1F1F1;*/
  }
 .grid-item-claim h2 {
    flex-grow: 0;           /* Does not allow the paragraph to grow */
    display: block;
    margin-top: 0;
    margin-bottom: 0.3vw;
    text-align: left;
    color: black;
    padding-left: 1vw;
    font-weight: 700;
    font-size: 2vw;
    font-family: "Terminus";
  }
  .titleArea{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .container {
    display: grid;
    justify-content: space-between;
    width: 15vw;
    height: fit-content; /* or any desired height */
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin-top: auto;
  }
.TPX_card {
  display: flex;          /* Enables flexbox */
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Stacks children vertically */
  width: 5vw;            /* Adjusted for viewport width */
  height: 5vw;           /* Adjusted for viewport height, can be set to auto if content should dictate size */
  border-radius: 0vw;
  background: #F1F1F1;
  /*box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);*/
  overflow: hidden;       /* Ensures no content spills out */
}
.TPX_card img {
    flex-grow: 1;           /* Allows image to take remaining space */
    width: auto; 
    height: 50%;
    margin-bottom: 0;
    align-self: center
  }
  #cardTitle{
    color: white;
    font-family: 'Terminus';
    font-size: 1.4vw;
    font-weight: 900;
  }
  #cardDesc{
    color: white;
    font-family: 'Terminus';
    font-size: 0.8vw;
    font-weight: 200;
    word-wrap: break-word;
  }
  #cardDescWrap{
    width:15vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  #tpxCost{
    font-size: 1.2vw;
    margin-left: 0.3vw;
  }
  #tpxlogo{
    width: 1.3vw; 
    height: 1.3vw;
    border-radius: 1vw;
  }
  .tpx_claim_button {
    cursor: pointer;
    border-width: 0.05vw;
    border-style: solid;
    border-color: black;
    border-radius: 0.5vw;
  
    background-color: rgb(134, 201, 154);
    padding: 0.2vw;
    padding-right: 1vw;
    /* padding-left: 4px; */
    /* padding-right: 4px; */
  
    padding-left: 1vw;
    width: fit-content;
    height: 2vw;
    font-weight: 295;
    font-size: 1vw;
    color: black;
    font-family: 'Terminus';
    letter-spacing: 0.4px;
  
    text-align: center;
    transition: all .25s ease;
  }
  .tpx_claim_button:hover {
    box-shadow: 0 .5px 5px #7bd780;
    background-color: #7bd780;
    filter: brightness(130%);
  }
  .tpx_claim_button:active {
    transform: translateY(1px);
    transition: all .01s ease;
  }
  .claim-right {
    display: flex;
    align-items: center;
    width: 15vw;
    height: 2.5vw;
    background-color: white; 
    justify-content: space-between;
    padding: 0.2vw;
    border-radius: 0.5vw;
    margin-top: auto;
    border: solid;
    border-width: 1px;
    border-color: #000000;
  }
  .claim-right-wrapper{
    flex-grow: 0;           /* Does not allow the div to grow */
    position: relative;     /* Changed from absolute to relative */
    width: 15vw;            /* Ensures it spans the full width of the card */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1vw;
  }
  .mainButton{
    font-family: 'Terminus';
    font-size: 1.1rem;
  }