.back-button {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 50;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  //   border: 1px solid rgba(255, 255, 255, 0.2);
  //   background-color: rgba(30, 30, 30, 0.7);
  //   backdrop-filter: blur(10px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;

  img {
    width: 45px;
    height: 45px;
    filter: invert(1);
  }

  &:hover {
    transform: scale(1.1) translateY(-3px);
    // background-color: rgba(50, 50, 50, 0.9);
    // border-color: rgba(255, 255, 255, 0.4);
  }
}

@media (max-width: 768px) {
  .back-button {
    bottom: 1.5rem;
    left: 1rem;
    width: 45px;
    height: 45px;
    display: none;
  }
}
