.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  background-color: #171719;
  border: 1px solid #272b30;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deposit-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.deposit-button {
  padding: 10px;
  background-color: #272b30;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.deposit-button:hover {
  background-color: #3a3f45;
}

/* Highlight the selected deposit option */
.deposit-button.selected {
  background-color: #5a5a5a;
}

.deposit-submit {
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
  background-color: #0055ff;
  padding: 0.5rem 1rem;
  font-weight: 500;
}

.deposit-submit:hover {
  background-color: #0040cc;
}

/* Disable the submit button if no option is selected */
.deposit-submit:disabled {
  background-color: #444;
  cursor: not-allowed;
}


.withdrawal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.withdrawal-input-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.withdrawal-content p {
  font-size: 18px;
  color: white;
}

.withdrawal-content label {
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.withdrawal-content input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.max-button {
  padding: 10px 20px;
  background-color: #272b30;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.max-button:hover {
  background-color: #3a3f45;
}

.submit-button {
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #0055ff;
    padding: 0.5rem 1rem;
    font-weight: 500;
}
  
.submit-button:hover {
    background-color: #0040cc;
}
.submit-button:disabled {
    background-color: #444;
    cursor: not-allowed;
  }

.mode-selection {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  
.mode-button {
    width: 120px;
    height: 120px;
    padding: 5px;
    background-color: #272b30;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
.mode-button:hover {
    background-color: #3a3f45;
  }