@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@font-face {
  font-family: 'Terminus'; 
  src: url('../public/font/terminus/TerminusTTF-4.49.3.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conthrax';
  src: url('../public/font/conthrax/conthrax-sb.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 16px;
  height: 16px;
  background: white; 
  border-radius: 50%; 
  cursor: pointer;
}

.info-container::-webkit-scrollbar {
  width: 10px;
}

.info-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.info-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  @apply bg-black text-white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
